@import "tailwindcss";

:root {
  --header-height: 64px;
}

@layer base {
  html {
    height: 100%;
    scrollbar-gutter: stable;
    color-scheme: light;
  }

  body {
    min-height: 100%;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    overflow-wrap: break-word;
  }
}
