<section
  id="foundation"
  class="relative mx-auto flex w-full max-w-5xl justify-center px-4 py-30"
>
  <div class="mb-12 flex max-w-md flex-col items-center gap-6">
    <h2 class="text-brand-wine-red text-3xl font-semibold">
      Ready to ignite your idea?
    </h2>
    <p class="text-center text-neutral-700">
      If you have a project that aligns with our vision, we'd love to hear from
      you.
    </p>

    <a
      href="mailto:contact@ig9tor.com"
      class="border-input bg-brand-accent-red hover:bg-brand-wine-red ring-offset-background focus-visible:ring-ring inline-flex h-10 items-center justify-center gap-2 rounded-md border px-3 text-sm font-medium whitespace-nowrap text-white transition-colors focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:outline-none disabled:pointer-events-none disabled:opacity-50 [&_svg]:pointer-events-none [&_svg]:size-4 [&_svg]:shrink-0"
    >
      Apply Now
    </a>
  </div>
</section>
