<footer class="bg-brand-wine-red w-full pt-14 pb-6">
  <div
    class="mx-auto flex max-w-5xl flex-col items-start justify-between gap-6 px-4 pb-14 sm:flex-row sm:gap-24"
  >
    <div class="flex shrink-0 flex-col gap-3">
      <div class="text-sm text-white">
        <p class="font-garamond mb-3 text-lg font-semibold text-white">
          ig9tor invest ApS
        </p>
        <p>Hauser Plads 20, 6th floor</p>
        <p>1127 København K</p>
        <p>Denmark</p>
      </div>

      <a
        href="mailto:contact@ig9tor.com"
        class="text-sm text-white hover:underline">contact@ig9tor.com</a
      >
    </div>

    <div class="relative h-[150px] w-full">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2249.7234567890123!2d12.5831!3d55.6761!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4652531c6c6c6c6c%3A0x1234567890abcdef!2sHauser%20Plads%2020%2C%201127%20K%C3%B8benhavn%20K%2C%20Denmark!5e0!3m2!1sen!2sus!4v1234567890123!5m2!1sen!2sus"
        style={{ border: 0 }}
        allowfullscreen
        loading="lazy"
        referrer-policy="no-referrer-when-downgrade"
        class="absolute inset-0 h-full w-full rounded border"></iframe>
    </div>
  </div>
  <div class="mx-auto flex w-full max-w-5xl justify-center px-4">
    <p class="text-xs whitespace-nowrap text-white/80">
      &copy; Copyright 2025 ig9tor. All rights reserved.
    </p>
  </div>
</footer>
