<section
  id="foundation"
  class="relative mx-auto flex w-full max-w-5xl flex-col items-center gap-6 px-4 pt-20 text-center"
>
  <h2 class="text-brand-wine-red text-3xl font-semibold">The Foundation</h2>
  <p class="text-neutral-700">
    We invest in businesses and people who not only dream big but act on those
    dreams. We support those who do not wait for change but create it.
  </p>
  <p class="text-neutral-700">
    The name ig9tor is a tribute to this force. Inspired by the ignition system
    of a jet engine, it symbolises the initial spark that sets acceleration into
    motion – a catalyst for growth, speed, and innovation.
  </p>

  <p class="text-neutral-700">A promise to create real impact.</p>
</section>
