---
import { Image } from "astro:assets";
import Element from "@/assets/ig9tor-element.webp";
---

<section
  class="relative mx-auto flex h-screen max-h-[900px] w-full max-w-5xl flex-col items-center justify-center overflow-hidden px-4 py-12 text-center lg:overflow-visible"
>
  <div class="animate-fade-in-blur space-y-8">
    <div class="flex justify-center">
      <img
        src="/ig9tor-tagline-en.svg"
        width="932.9"
        height="104.5"
        class="h-20 w-auto object-contain"
      />
    </div>
  </div>
  <Image
    src={Element}
    alt="IG9TOR Element"
    class="absolute right-0 bottom-0 -z-10 w-1/2 min-w-[300px] translate-1/4 rotate-105 object-cover"
  />
</section>
