---
import { Image } from "astro:assets";
import Element from "@/assets/ig9tor-element.webp";
---

<section
  id="invest"
  class="relative mx-auto grid w-full max-w-5xl grid-cols-2 px-4 py-30"
>
  <div class="mb-12 max-w-md space-y-6">
    <h2 class="text-foreground text-3xl font-semibold">Invest</h2>
    <p>
      Taking off the ground requires both speed and direction. It takes courage
      to set the course and a powerful engine to drive forward. The same applies
      to business – and this has always been the case for Jørgen Andersen.
    </p>
    <p>
      After more than 60 years of innovation, growth, and technological
      development, Jørgen has now passed on JAI A/S, marking the beginning of a
      new chapter for Jørgen and future investments.
    </p>
    <p>
      This will now take shape under the new name <strong
        class="whitespace-nowrap">ig9tor invest</strong
      >.
    </p>
  </div>

  <div class="flex w-full max-w-2xl items-end justify-end px-8">
    <span
      class="relative block font-serif text-lg leading-[1.33] [&>p]:inline [&>p]:font-serif [&>p]:leading-[inherit] [&>p]:font-medium"
      ><span class="absolute left-[-14px] opacity-90">“</span><p
        class="opacity-[0.9]"
      >
        We believe in visionary people, technological advancement, and
        investments that make <em>a real difference</em>. <br
          class="hidden md:block"
        /> Our journey continues – and we look forward to taking the next step together
        with you.
      </p><span class="absolute translate-x-0.5">”</span></span
    >
  </div>

  <Image
    src={Element}
    alt="IG9TOR Element"
    class="absolute right-0 bottom-0 -z-10 h-[200px] w-[200px] object-cover opacity-10"
  />
</section>
