---
import { Image } from "astro:assets";
import Element from "@/assets/ig9tor-element.webp";
---

<section id="invest" class="relative mx-auto w-full max-w-6xl px-4 py-30">
  <div class="mx-auto w-full max-w-[600px] md:pr-30">
    <p class="font-medium">
      Taking off the ground requires both speed and direction. It takes courage
      to set the course and a powerful engine to drive forward. The same applies
      to business – and this has always been the case for Jørgen Andersen. After
      more than 60 years of innovation, growth, and technological development,
      Jørgen has now passed on JAI A/S, marking the beginning of a new chapter
      for Jørgen and future investments. This will now take shape under the new
      name ig9tor invest.
    </p>
  </div>
  <Image
    src={Element}
    alt="IG9TOR Element"
    class="absolute right-0 bottom-0 -z-10 h-[200px] w-[200px] object-cover opacity-10"
  />
</section>
