<section
  id="invest"
  class="mx-auto flex w-full max-w-5xl flex-col items-center px-4 pt-20"
>
  <div class="max-w-3xl space-y-6 text-center">
    <p>
      Taking off the ground requires both speed and direction. It takes courage
      to set the course and a powerful engine to drive forward. The same applies
      to business – and this has always been the case for Jørgen Andersen.
    </p>
    <p>
      After more than 60 years of innovation, growth, and technological
      development, Jørgen has now passed on JAI A/S, marking the beginning of a
      new chapter for Jørgen and future investments.
    </p>
    <p>
      This will now take shape under the new name <strong
        class="whitespace-nowrap">ig9tor invest</strong
      >.
    </p>
  </div>

  <div class="bg-brand-accent-red my-12 size-2 rounded-full"></div>

  <div
    class="text-brand-wine-red mx-auto mb-20 flex w-full max-w-2xl px-8 text-center"
  >
    <span
      class="relative block font-serif text-lg leading-[1.33] [&>p]:inline [&>p]:font-serif [&>p]:leading-[inherit] [&>p]:font-medium"
      ><p class="opacity-[0.9]">
        “We believe in visionary people, technological advancement, and
        investments that make <em>a real difference</em>. <br
          class="hidden md:block"
        /> Our journey continues – and we look forward to taking the next step together
        with you.”
      </p></span
    >
  </div>
</section>
