<header
  class="bg-background/80 border-border fixed top-0 right-0 left-0 z-50 border-b backdrop-blur-md"
>
  <div class="mx-auto max-w-5xl px-4 sm:px-6 lg:px-8">
    <div class="flex h-16 items-center justify-between">
      <div class="flex items-center">
        <a href="/" class="block">
          <img
            src="/ig9tor-logo.svg"
            alt="ig9tor Logo"
            class="h-8 w-auto object-contain"
            loading="eager"
          />
        </a>
        <div class="ml-10 hidden md:block">
          <nav class="flex items-center space-x-8">
            <a
              href="#invest"
              class="data-active:text-brand-accent-red text-sm font-medium text-neutral-600 transition-colors hover:text-black"
              aria-label="invest"
            >
              Invest
            </a>
            <a
              href="#avi"
              class="data-active:text-brand-accent-red text-sm font-medium text-neutral-600 transition-colors hover:text-black"
              aria-label="avi"
            >
              Avi
            </a>
            <a
              href="#foundation"
              class="ata-active:text-brand-accent-red text-sm font-medium text-neutral-600 transition-colors hover:text-black"
              aria-label="foundation"
            >
              Foundation
            </a>
          </nav>
        </div>
      </div>
      <div class="flex items-center space-x-4">
        <a
          href="mailto:contact@ig9tor.com"
          class="border-input bg-background hover:bg-accent hover:text-accent-foreground ring-offset-background focus-visible:ring-ring inline-flex h-8 items-center justify-center gap-2 rounded-md border px-3 text-sm font-medium whitespace-nowrap transition-colors focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:outline-none disabled:pointer-events-none disabled:opacity-50 [&_svg]:pointer-events-none [&_svg]:size-4 [&_svg]:shrink-0"
        >
          Contact
        </a>
        <button
          class="border-input bg-background hover:bg-accent hover:text-accent-foreground ring-offset-background focus-visible:ring-ring inline-flex h-8 items-center justify-center gap-2 rounded-md border px-3 text-sm font-medium whitespace-nowrap transition-colors focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:outline-none disabled:pointer-events-none disabled:opacity-50 [&_svg]:pointer-events-none [&_svg]:size-4 [&_svg]:shrink-0"
        >
          Apply
        </button>
      </div>
    </div>
  </div>
</header>

<script>
  const sections = document.querySelectorAll("section");
  const navItems = document.querySelectorAll("nav a");
  console.log(sections);
  console.log(navItems);

  const callback: IntersectionObserverCallback = (entries) => {
    entries.forEach((entry) => {
      if (entry.isIntersecting) {
        navItems.forEach((item) => {
          if (item.getAttribute("aria-label") == entry.target.id) {
            item.setAttribute("data-active", "true");
          } else {
            item.removeAttribute("data-active");
          }
        });
      }
    });
  };

  const observer = new IntersectionObserver(callback, {
    root: null,
    rootMargin: "0px",
    threshold: 0.3,
  });

  sections.forEach((section) => {
    observer.observe(section);
  });
</script>
