---
import { Image } from "astro:assets";
import HeroImage from "@/assets/jorgen.jpg";
---

<section id="hero" class="bg-brand-wine-red">
  <div
    class="mx-auto flex h-auto w-full max-w-5xl flex-col-reverse items-center justify-between gap-0 md:h-[500px] md:flex-row md:gap-6 lg:py-6"
  >
    <Image
      src={HeroImage}
      alt="joergen andersen"
      class="h-[300px] w-full object-cover object-top md:h-full md:max-w-md md:object-center"
      loading="eager"
      format="webp"
      fetchpriority="high"
    />
    <div class="relative px-8 py-14 text-white">
      <span class="absolute top-0 left-8 text-9xl leading-none transition-all"
        >“</span
      >
      <p class="font-garamond relative text-2xl font-medium">
        A forward-looking perspective is essential—those whote <em
          >anticipate the future</em
        > are best positioned to shape it, rather than be overtaken by it.
      </p><div
        class="mt-[25px] ml-auto flex w-full items-center gap-2 md:w-[50%]"
      >
        <div class="flex flex-col md:ml-auto md:text-right">
          <span
            class="text-base leading-none font-medium text-nowrap no-underline opacity-90"
            >Jørgen Andersen, CEO</span
          >
        </div>
      </div>
    </div>
  </div>
</section>
