---
import "../styles/global.css";
import Navbar from "@/components/navbar.astro";
import { Font } from "astro:assets";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>ig9tor</title>
    <Font cssVariable="--font-inter" preload />
    <Font cssVariable="--font-garamond" preload />
  </head>
  <body class="bg-background font-sans">
    <Navbar />
    <main class="flex min-h-screen w-full flex-col">
      <slot />
    </main>
  </body>
</html>
