---
import "../styles/global.css";
import Header from "@/components/header.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>ig9tor</title>
  </head>
  <body class="bg-gray-100 font-sans">
    <Header />
    <main
      class="mx-auto flex min-h-screen w-full max-w-6xl flex-col items-center justify-center px-4"
    >
      <slot />
    </main>
  </body>
</html>
